{{#each this}}
<li class="comment-row">
    <p><strong>{{this.user.username}}:</strong> {{this.comment}}</p>
    <p><small>Posted on {{format_date this.createdAt}}</small></p>
</li>
{{else}}
<li>No comments yet. Be the first to comment!</li>
{{/each}}